footer {
    background-color: rgb(19, 31, 46) !important;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(209, 229, 255, 0.514);
}

